

<h2>List of Characters</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Allegiance(s) (if any)</th>
        <th>Book(s) featured</th>
    </tr>
    @foreach (var character in ViewBag.Characters["characters"])
    {
        <tr>
            <td>@character["name"]</td>
            <td>@character["gender"]</td>
            <td>@character["allegiances"]</td>
            <td>@character["books"]</td>
        </tr>
    }
</table>