

<h2>List of Characters</h2>

<p>@ViewBag.Characters["characters"][1]["name"]</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>House</th>
        <th>Allegiance(s) (if any)</th>
        <th>Book(s) featured</th>
    </tr>
    @foreach (var character in ViewBag.Characters["characters"])
    {
        <tr>
            <td>@character["name"]</td>
            <td></td>
        </tr>
    }
</table>