
@{
    ViewBag.Title = "ViewCharacter";
}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Allegiance(s) (if any)</th>
        <th>Book(s) featured</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Gender</td>
        <td>@Model.Allegiances</td>
        <td>@Model.Books</td>
    </tr>
    
</table>