@{
    ViewBag.Title = "Bring a Dish";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <h6>That's English for "what dish are you bringing?"</h6>
</div>
<p>Use this area to provide additional information.</p>
