@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>It's time for the big party!</h1>
    <p class="lead">The big party is right around the corner! Be here or be square!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>RSVP</h2>
        <p>
            How do we know if you're coming to the party if you don't tell us?
            <small>We need to know if we can gossip about you during the festivites or not.</small>
            Either way, click the button below and give us a "yes" or "no"!
        </p>
        <p><a class="btn btn-primary" href="/Home/RSVP/">Please respond &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Bring a dish</h2>
        <p>
            You know you have to bring a dish to pass, right? These big parties ain't cheap! 
            If you're coming, tell us what dish you're bringing, so we can plan accordingly, 
            and confirm it's "big party material".
        </p>
        <p><a class="btn btn-primary" href="/Home/BringADish">Dish it out &raquo;</a></p>
    </div>
</div>